<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OneOf" version="3.0.271" manuallyInstalled="true" />
  <package id="Optional" version="4.0.0" manuallyInstalled="true" />
  <package id="Optional.Collections" version="1.1.0" manuallyInstalled="true" />
  <package id="Optional.Extensions" version="0.1.0" manuallyInstalled="true" />
  <package id="Optional.Utilities" version="1.1.0" manuallyInstalled="true" />
</packages>